@model WCF.BussinessObject.EntityObject.DoctorObject
@{
    ViewBag.Title = "DeleteDoctor_clk";
    Layout = "~/Areas/admin/Views/Shared/LayOut.cshtml";
}

<h2>Bạn Có Muốn Xóa?</h2>
@Html.ActionLink("Xác Nhận", "DeleteDoctor", "Doctor", new { id = Model.ID }, new { @class = "btn btn-info" })
@Html.ActionLink("Cancel", "Cancelbt", "Doctor", null, new { @class = "btn btn-warning" })