@model WCF.BussinessObject.EntityObject.MedicalObject
@{
    ViewBag.Title = "DeleteMedical_clk";
    Layout = "~/Areas/admin/Views/Shared/LayOut.cshtml";
}

<h2>Bạn Có Muốn Xóa?</h2>
@Html.ActionLink("Xác Nhận", "DeleteMedical", "EditMedical", new { id = Model.ID }, new { @class = "btn btn-info" })
@Html.ActionLink("Cancel", "Cancelbt", "EditMedical", null, new { @class = "btn btn-warning" })